body{
    background-image: url('images/normal weather.jpg');
    background-size: cover;
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-position: top center;
    color:rgb(255, 255, 255);
    font-size: 20px;

    
}
.main-box{
    width:40vw;
    height:74vh;
    background-color:rgba(250, 235, 215, 0.504);
    margin:60px auto;
    text-align: center;
}
/* all the child elements of main-box will have margin of 20px */


/* working on searching part */

.search{
    position:absolute;
    margin:40px;
    padding:5px;
    align-content: center;
    width:33vw;
    height:9vh;
    background-color: rgba(6, 253, 253, 0.227);
    text-align: center;
}
/* this is a section for Enter city part */
#enter-city{
    width:370px;
    margin:12px;
    padding:12px;
    border:2px solid skyblue;
    border-radius: 12px;
    color:black;
    background-color: rgba(255, 255, 255, 0.856);
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}
.enter-city:focus{
    background-color: azure;
   
}


/* working on details block */
 .details{
    position:absolute;
    margin:135px 25px ;
    text-align: center;
    width:33vw;
    color:black;
    padding:20px;
    line-height:2rem;
    border-radius:10px;
    background-color: rgba(6, 253, 253, 0.227);
    height:49vh;
}  

.location-details{
    font-weight: bold;
}
.weather-details{
    padding:20px;
    color:black;
    font-size: 22px;
    
}
.temp{
    font-size: 50pt;
    font-weight: 700;
    margin:20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}
.temp-day-night-min-max, .weathertype{
    font-size:12pt;
    font-weight:600;
}




